//BEM convention
//[namespace]-[block]__[element]--[modifier]
//See https://seesparkbox.com/foundry/bem_by_example for details

//Breakpoints - contains any igcp classes that are breakpoint sensitive

//Medium
@media (min-width: $ig-medium) { 
  //.THIS {
    
    .#{$namespace}-registration {
      .#{$namespace}-registration__pfa {
            h1 {
                font-size: $ig-h1;
                line-height: $ig-h1-line-height;
            }
        }
        
        .#{$namespace}-registration__pfa--monitor {
            width: 360px;
        }
    }
    
    .#{$namespace}-footer { 
      .footer-link {
        float: left;
      }
    }
    
    .#{$namespace}-card__image {
        width: 75%;
    }
  //}
}

//Large
@media (min-width: $ig-large) {
  //.THIS {
    
    .#{$namespace}-button__chat {
      float: none;
      position: fixed;
      right: 40px;
      bottom: 40px;
    }
    
    .#{$namespace}-button__chat--sticky {
      position: absolute;
      right: -200px;
      top: -160px;
    }
    
    .#{$namespace}-registration {
        .#{$namespace}-registration__pfa--monitor {
            top: 23px;
            height: 282px;
            overflow: visible;
        }
    }
    
    .#{$namespace}-value--large {
      font-size: $ig-h1;
    }
    
    .#{$namespace}-container {
      margin-right: $ig-space-medium;
    }
    
    .#{$namespace}-value--medium {
      line-height: $ig-line-height-text;
      font-size: $ig-h2;
    }
    
    .#{$namespace}-value--small {
      line-height: $ig-line-height-text;
      font-size: $ig-h3;
    }
    
    .#{$namespace}-value--x-small {
      line-height: $ig-line-height-text;
      font-size: $ig-h4;
    }
    
    .#{$namespace}-separator--large {
      height: $ig-space-x-small;
    }
    
    .#{$namespace}-card__image {
        width: 100%;
    }
    
    .#{$namespace}-footer {
      padding-top: 0;
    
      .footer-copyright {
        .footer-copyright-border-top .row {
            border-top: none;
            
            .columns ul li {
                border-right: none;
            }
        }        
      }
        
      .footer-navigation .columns {
          text-align: left;
      }
    }
  //}
}