//BEM convention
//[namespace]-[block]__[element]--[modifier]
//See https://seesparkbox.com/foundry/bem_by_example for details
//Breakpoints - contains any igcp classes that are breakpoint sensitive
//Medium
@media (min-width: $ig-medium) {

	//REGISTRATION
	.#{$namespace}-registration {
		.#{$namespace}-registration__pfa {
			h1 {
				font-size: $ig-font-size--medium-plus;
				line-height: $ig-line-height--medium-plus;
			}
		}

		.#{$namespace}-registration__pfa--monitor {
			width: 360px;
		}
	} 

	//CARD
	.#{$namespace}-card__image {
		width: 75%;
	} 

	//FIGURE
	.#{$namespace}-figure {

		.#{$namespace}-figure__caption {
			h3,
			p {
				text-align: left;
			}
		}
	} 

	//MODAL
	.#{$namespace}-modal__footer {
		margin: 0 0 0 -#{$ig-space--xx-large};
		padding-top: 32px;
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
	} 

	//VALUES
	.#{$namespace}-value--large {
		font-size: $ig-font-size--large;
	} 

	//TOOLTIP
	.#{$namespace}-tooltip {
		&.#{$namespace}-tooltip__label--small {
			padding-left: 8px;
			padding-top: 6px;
		}
	} 

	//FOOTER
	.#{$namespace}-footer {
		.footer-link {
			float: left;
		}
	}
}

//Large
@media (min-width: $ig-large) {

	//REGISTRATION
	.#{$namespace}-registration {
		.#{$namespace}-registration__pfa--monitor {
			top: 23px;
			height: 282px;
			overflow: visible;
		}
	} 

	//BUTTON
	.#{$namespace}-button__chat {
		float: none;
		position: fixed;
		right: 40px;
		bottom: 40px;
	}

	.#{$namespace}-button__chat--sticky {
		position: absolute;
		right: -200px;
		top: -160px;
	} 

	//VALUES
	.#{$namespace}-value--medium {
		line-height: $ig-line-height--base;
		font-size: $ig-font-size--medium-plus;
	}

	.#{$namespace}-value--small {
		line-height: $ig-line-height--base;
		font-size: $ig-font-size--medium;
	}

	.#{$namespace}-value--x-small {
		line-height: $ig-line-height--base;
		font-size: $ig-font-size--base;
	} 

	//SEPARATOR
	.#{$namespace}-separator--large {
		height: $ig-space--x-small;
	} 

	//CARD
	.#{$namespace}-card__image {
		width: 100%;
	} 

	//MODAL
	.#{$namespace}-modal {

		&.#{$namespace}-modal__small {

			.#{$namespace}-modal__small--inner {
				@include roundCorner();
				top: 25%;
				left: 25%;
				right: 25%;
				bottom: 25%;
			}
		}
	} 

	//FOOTER
	.#{$namespace}-footer {
		padding-top: 0;

		.footer-copyright {
			.footer-copyright-border-top .row {
				border-top: none;

				.columns ul li {
					border-right: none;
				}
			}
		}

		.footer-navigation .columns {
			text-align: left;
		}
	}
}