//BEM convention
//[namespace]-[block]__[element]--[modifier]
//See https://seesparkbox.com/foundry/bem_by_example for details
//Global Styles - specific styles for elements that can be used globally, I may break these styles into sub categories down the road if this file gets too big 
//GENERAL
.#{$namespace}-main {

	//Override default padding in community page
	.slds-col--padded {
		padding: 0;
	}
}

.#{$namespace}-background {
	background-color: $ig-light-grey;
}

.#{$namespace}-background__tiled {
	background-image: url('../images/bg-tile.jpg');
	background-repeat: repeat;
}

.#{$namespace}-container {
	background-color: #fff;
}

.#{$namespace}-wrapper-x-large {
	max-width: $ig-x-large;
	margin: 0 auto;
}

.#{$namespace}-wrapper {
	max-width: $ig-large;
	margin: 0 auto; //234 is the height of the footer
	min-height: calc(100vh - 234px);
}

.#{$namespace}-horizontal-rule {
	border-bottom: 1px solid #fff;
	width: 100%;
	height: $ig-space--large;
}

.#{$namespace}-separator--large {
	width: 100%;
	height: $ig-space--xx-small;
	background-color: $ig-light-grey;
}

.#{$namespace}-background__gradient {
	background: #fafafd;
	/* Old browsers */
	background: -moz-linear-gradient(top, #fafafd 0%, #fefefe 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fafafd 0%, #fefefe 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fafafd 0%, #fefefe 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafd', endColorstr='#fefefe', GradientType=0);
	/* IE6-9 */
}

//INPUT
.#{$namespace}-input {
	border-radius: 0;
	margin-bottom: 0;
	border: 1px solid $ig-black;

	&.input,
	&.uiInput--input.input,
	&.uiInput--select.select {
		border-radius: 0;
		margin-bottom: 0;
		border: 1px solid $ig-black;
	}
}

.#{$namespace}-input__help-link {
	font-family: $ig-whitney-book;
	letter-spacing: $ig-letter-spacing;
	font-size: $ig-font-size--base;
}

.#{$namespace}-input__password {

	//Have to put this here because 
	//I don't have access to the ui component 
	//to give it a unique igcp class name
	.slds-icon-utility-info {
		top: 0;
	}
}

.#{$namespace}-input__selector {

	&.uiInput--select.select {
		height: 38px;
	}
}

//LINK
.#{$namespace}-link {
	font-family: $ig-whitney-book;
	font-size: $ig-space--x-small;
	letter-spacing: $ig-letter-spacing;
}

.#{$namespace}-link__cta {
	.slds-icon_container.slds-icon-utility-chevronright {
		top: 0;

		.slds-icon-text-default {
			fill: $ig-link-blue;
		}
	}
}

.#{$namespace}-link__variant--a {
	font-family: $ig-whitney-semibold;
	font-size: $ig-space--x-small;
	letter-spacing: $ig-letter-spacing;
}

.#{$namespace}-link__glyph--after {
	position: relative;
	top: -1px;
	padding-left: $ig-space--xxx-small;
}

.#{$namespace}-link__print {

	.#{$namespace}-link__print--icon {
		position: relative;
		top: -3px;
	}
}

//UNDERLINE
.#{$namespace}-underline {
	border-bottom: 2px solid $ig-grey;
}

.#{$namespace}-underline--thick-blue {
	border-bottom: $ig-space--xx-small solid $ig-dark-blue;
	transform-origin: left bottom;
	transform: skewX(25deg);
}

.#{$namespace}-underline--white {
	border-bottom: 1px solid $ig-white;
}

.#{$namespace}-underline--thick-white {
	border-bottom: 3px solid $ig-white;
}

.#{$namespace}-underline--thick-grey {
	border-bottom: 3px solid $ig-grey;
}

//VALUE
.#{$namespace}-value--large {
	font-family: $ig-whitney-light;
	line-height: $ig-line-height--base;
	font-size: $ig-font-size--large;

	sup {
		font-size: 70%;
		top: -0.25em;
	}

	sub {
		font-size: 50%;
		bottom: 0;
	}
}

.#{$namespace}-value--medium {
	line-height: $ig-line-height--base;
	font-size: $ig-font-size--medium-plus;
}

.#{$namespace}-value--small {
	line-height: $ig-line-height--base;
	font-size: $ig-font-size--medium;
}

.#{$namespace}-value--x-small {
	line-height: $ig-line-height--base;
	font-size: $ig-font-size--base;
}

.#{$namespace}-value--gain {
	top: 0;
	color: $ig-dark-green;
}

.#{$namespace}-value--gain use {
	fill: $ig-dark-green;
}

.#{$namespace}-value--loss {
	top: 0;
	color: $ig-red;
}

.#{$namespace}-value--loss use {
	fill: $ig-red;
}


//LABEL
.#{$namespace}-label {
	font-family: $ig-whitney-semibold;
	font-size: $ig-space--small;
	letter-spacing: $ig-letter-spacing;
}

.#{$namespace}-label--small {
	font-family: $ig-whitney-semibold;
	font-size: $ig-font-size--mini;
	letter-spacing: $ig-letter-spacing;
	color: $ig-blue;
}


//ACCOUNT
.#{$namespace}-account-arrow--right {
	position: relative;
	left: 35px;
}

.#{$namespace}-account--total div {

	span {
		font-size: $ig-font-size--medium;
		border-bottom: 2px solid $ig-dark-blue;
	}
}

//ALERT
.#{$namespace}-alert--item {
	border-bottom: 1px solid $ig-grey;

	&:last-child {
		border-bottom: none;
		margin-bottom: 0 !important;
		padding-bottom: 0 !important;
	}

	p {
		font-size: $ig-space--x-small;
	}
}


//CTA
.#{$namespace}-cta {
	background-color: $ig-beige;
}


//CARD
.#{$namespace}-card {
	border: none;
	background: transparent;
}

.#{$namespace}-card__link {
	position: relative;
	top: -4px;
}

.#{$namespace}-card__image {
	width: 50%;
}


//PROGRESS INDICATOR
.#{$namespace}-progress-indicator {


	.#{$namespace}-progress-indicator__step {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -15px;
		margin-left: -3px;
		font-family: $ig-whitney-semibold;
		font-size: $ig-font-size--mini;
	}

	.#{$namespace}-progress-indicator__step--complete {
		margin-top: -16px;
		margin-left: -10px;
	}
}

//LIST
.#{$namespace}-list {
	.#{$namespace}-list__item-label--a {
		padding-top: 0;
	}

	.#{$namespace}-list__item-label--b {
		font-family: $ig-whitney-book;
		font-weight: normal;
		text-transform: capitalize;
		width: 50%;
	}

	.#{$namespace}-list__item-detail--b {
		font-family: $ig-whitney-semibold;
		font-weight: normal;
		width: 50%;
		text-align: right;
	}

	.#{$namespace}-list__item-label--c {
		font-family: $ig-whitney-book;
		font-weight: normal;
		margin-bottom: 0;
	}

	.#{$namespace}-list__item-detail--c {
		font-family: $ig-whitney-semibold;
		font-weight: normal;
	}
}

//BUTTON
.#{$namespace}-button__chat {

	float: right;

	padding-top: $ig-space--xx-small;
	padding-bottom: $ig-space--xx-small;

	border-radius: $ig-space--medium;
	background-clip: padding-box;

	.slds-icon_container {
		top: -2px;
		position: relative;
	}

	svg {
		fill: $ig-white;
	}
}

//MODAL
.#{$namespace}-modal {

	display: none;
	position: fixed;
	z-index: 100;
	overflow-y: scroll;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	&.#{$namespace}-modal--show {
		display: inline-block;
	}

	.#{$namespace}-modal__wrapper {
		max-width: $ig-large;
		margin: 0 auto;
	}

	.#{$namespace}-modal__wrapper--text {
		max-width: $ig-modal-wrapper-text-width;
		margin: 0 auto;
	}

	.#{$namespace}-modal__button--close {
		position: relative;
		float: right;
		border-radius: 50px;
	}

	&.#{$namespace}-modal__full {
		background-color: $ig-white;
	}

	&.#{$namespace}-modal__small {
		background-color: $ig-dark-blue--90;

		.#{$namespace}-modal__small--inner {
			position: fixed;
			background-color: $ig-white;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border: 10px solid $ig-grey;
			overflow-y: scroll;
		}
	}
}

.#{$namespace}-modal__footer {
	background-color: #f8f8f8;
	position: fixed;
	height: 175px;
	bottom: 0;
	margin: 0 0 0 -#{$ig-space--medium};
	padding: $ig-space--small;

	.#{$namespace}-modal__footer-wrapper {
		margin: 0 auto;
		max-width: $ig-large;
	}

	.#{$namespace}-modal__footer-wrapper--text {
		margin: 0 auto;
		max-width: $ig-modal-wrapper-text-width;
	}
}

//TOOLTIP
.#{$namespace}-tooltip {

	display: inline-block;

	.#{$namespace}-tooltip__tip {
		border: none;
	}
}

.#{$namespace}-tooltip__opened {
	position: absolute; //top: calc(100% + .6495rem);
	z-index: 1200;
	max-width: 10rem;
	padding: .75rem;
	border-radius: 5px;
	font-size: 80%;
	color: $ig-white;
	background-color: $ig-dark-blue;
}

.#{$namespace}-figure {
	.#{$namespace}-figure__image {
		// margin: 0 auto;
		// text-align: center;
		// width: 35%;
	}

	.#{$namespace}-figure__caption {
		margin: 0;
	}
}

//STATUS
.#{$namespace}-text__success,
.#{$namespace}-text__ok {
	color: $ig-system-success;
}

.#{$namespace}-text__error,
.#{$namespace}-text__alert {
	color: $ig-system-error;
}

.#{$namespace}-text__informational {
	color: $ig-system-informational;
}

//TOAST
.#{$namespace}-toast {

	.#{$namespace}-toast__icon {
		position: relative;
		top: 1px;
		svg {
			fill: $ig-white;
		}
	}


	.#{$namespace}-toast__message {
		color: $ig-white;
	}
}