//BEM convention
//[namespace]-[block]__[element]--[modifier]
//See https://seesparkbox.com/foundry/bem_by_example for details

//Registration - any styling related to the registration process 
//.THIS {
    .#{$namespace}-registration {
        
        overflow: hidden;
        
        .#{$namespace}-registration__pfa {
            
            h1 {
                font-size: $ig-m-h2;
                line-height: $ig-m-h2-line-height;
            }
        }
    
        .#{$namespace}-registration__pfa--step {
            p {
                min-height: 48px;
            }
        }
        
        .#{$namespace}-registration__pfa--monitor {
            position: relative;
            top: 0;
            
            width: 280px;
            height: 141px;
            overflow: hidden;
            margin: 0 auto;
            
            img {
                width: 100%;
            }
        }
    }   
//}