//BEM convention
//[namespace]-[block]__[element]--[modifier]
//See https://seesparkbox.com/foundry/bem_by_example for details

//Utils - contains generic classes that can used on any element, generally should contain only one property, before adding new classes here, ensure that the SLDS(https://lightningdesignsystem.com/) does not already have the class you need. 

//

.THIS {
  
    @each $value in $ig-breakpoints {
      
      @media (min-width: nth($value, 2)) {
      
        .#{getNamespace($value)}-utils__font--light {
          font-family: 'WhitneyLight', Arial, sans-serif;
        }
      
        .#{getNamespace($value)}-utils__font--semibold {
          font-family: 'WhitneySemiBold', Arial, sans-serif;
        }
        
        .#{getNamespace($value)}-utils__font--book {
          font-family: 'WhitneyBook', Arial, sans-serif;
        }
      
        .#{getNamespace($value)}-utils__font-size--small {
          font-size: $ig-p;
        }
        
        .#{getNamespace($value)}-utils__font-size--x-small {
          font-size: $ig-p-small;
        }
        
        .#{getNamespace($value)}-utils__line-height--regular {
          line-height: $ig-line-height-text;
        }
      
        .#{getNamespace($value)}-utils__text--uppercase {
          text-transform: uppercase;
        }
        
        .#{getNamespace($value)}-utils__text--lowercase {
          text-transform: lowercase;
        }
        
        .#{getNamespace($value)}-utils__text--capitalize {
          text-transform: capitalize;
        }
        
        .#{getNamespace($value)}-utils__text--underline {
          text-decoration: underline;
        }
        
        .#{getNamespace($value)}-utils__text--no-underline {
          text-decoration: none;
        }
        
        .#{getNamespace($value)}-utils__text-align--center {
          text-align: center;
        }
        
        .#{getNamespace($value)}-utils__text-align--right {
          text-align: right;
        }
        
        .#{getNamespace($value)}-utils__text-align--left {
          text-align: left;
        }
        
        .#{getNamespace($value)}-utils__width--25 {
          width: 25%;
        }
        
        .#{getNamespace($value)}-utils__width--50 {
          width: 50%;
        }
        
        .#{getNamespace($value)}-utils__width--75 {
          width: 75%;
        }
        
        .#{getNamespace($value)}-utils__width--full,
        .#{getNamespace($value)}-utils__width--100 {
          width: 100%;
        }
        
        .#{getNamespace($value)}-utils__width--auto {
          width: auto;
        }
        
        .#{getNamespace($value)}-utils__max-width--large {
          max-width: $ig-large;
        }
        
        .#{getNamespace($value)}-utils__max-width--medium {
          max-width: $ig-medium;
        }
        
        .#{getNamespace($value)}-utils__max-width--small {
          max-width: $ig-small;
        }
        
        .#{getNamespace($value)}-utils__max-width--none {
          max-width: none;
        }
        
        .#{getNamespace($value)}-utils__display--none,
        .#{getNamespace($value)}-utils__hide {
          display: none;
        }
        
        .#{getNamespace($value)}-utils__display--inline,
        .#{getNamespace($value)}-utils__show--inline {
          display: inline;
        }
        
        .#{getNamespace($value)}-utils__display--block,
        .#{getNamespace($value)}-utils__show--block {
          display: block;
        }
        
        .#{getNamespace($value)}-utils__display--inline-block,
        .#{getNamespace($value)}-utils__show--inline-block {
          display: inline-block;
        }
        
        .#{getNamespace($value)}-utils__display--table-cell,
        .#{getNamespace($value)}-utils__show--table-cell {
          display: table-cell;
        }
        
        .#{getNamespace($value)}-utils__display--flex,
        .#{getNamespace($value)}-utils__show--flex {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
        }
        
        .#{getNamespace($value)}-utils__bullets--disc {
          list-style: disc;
        }
        
        .#{getNamespace($value)}-utils__fade--in {
           @include fadeTo();
        }
        
        .#{getNamespace($value)}-utils__fade--out {
          @include fadeTo(0);
        }
        
        .#{getNamespace($value)}-utils__opacity--0 {
          opacity: 0;
        }
        
        .#{getNamespace($value)}-utils__opacity--25 {
          opacity: 0.25;
        }
        
        .#{getNamespace($value)}-utils__opacity--50 {
          opacity: 0.5;
        }
        
        .#{getNamespace($value)}-utils__opacity--75 {
          opacity: 0.75;
        }
        
        .#{getNamespace($value)}-utils__opacity--100 {
          opacity: 1;
        }
        
        .#{getNamespace($value)}-utils__margin--zero-auto {
          margin: 0 auto;
        }
        
        .#{getNamespace($value)}-utils__margin--zero-auto {
          margin: 0 auto;
        }
        
        .#{getNamespace($value)}-utils__order--1 {
          order: 1
        }
        
        .#{getNamespace($value)}-utils__order--2 {
          order: 2
        }
        
        .#{getNamespace($value)}-utils__order--3 {
          order: 3
        }
        
        .#{getNamespace($value)}-utils__order--4 {
          order: 4
        }
        
        .#{getNamespace($value)}-utils__order--5 {
          order: 5
        }
        
      }
    }
}