//NOTE: This file contains extended/modified/new slds classes to fill in missing gaps in the SLDS capabilities. For reference see: https://lightningdesignsystem.com/

.THIS {

    .slds-button {
      font-family: token(whitneySemiBold);
      font-size: token(igLabelSmall);
      letter-spacing: token(igLetterSpacing);
      text-transform: uppercase;
    }
    
    .slds-form-element__label {
        font-family: token(whitneySemiBold);
        font-size: token(igLabelSmall);
        letter-spacing: token(igLetterSpacing);
        
        &.input-label {
          position: relative;
          top: 3px;
          font-size: token(igLabelSmall);
        }
    }
    
    .slds-checkbox {
        .slds-checkbox__label .slds-checkbox--faux {
          border-color: token(igDarkBlue);  
        }
        
        .slds-form-element__label.input-label {
            font-size: token(igLabelSmall);
            top: 0;
        }
    }
}