.THIS {
  background-image: url('/resource/login_assets/login/images/bg-tile.jpg');
  background-repeat: repeat;
}

/*ELEMENTS*/
.THIS h1, .THIS h2 {
  line-height: token(lineHeightText);
}

.THIS p {
  font-family: token(whitneyBook);
}

.THIS a {
  text-decoration: underline;
}

.THIS label {
    border: none;
}

/*CLASSES*/

/**Overriden slds classes**/
.THIS .slds-input-has-icon .slds-input__icon {
  margin-top: -1rem;  
}

.THIS .slds-button {
  font-family: token(whitneySemiBold);
  font-size: token(igLabelSmall);
  letter-spacing: token(igLetterSpacing);
  text-transform: uppercase;
}

.THIS .slds-form-element__label {
    font-family: token(whitneySemiBold);
    font-size: token(igLabelSmall);
    letter-spacing: token(igLetterSpacing);
}

.THIS .slds-form-element__label.input-label {
  position: relative;
  top: 3px;
  font-size: token(igLabelSmall);
}

.THIS .slds-checkbox .slds-checkbox__label .slds-checkbox--faux {
  border-color: token(igDarkBlue);  
}

.THIS .slds-checkbox .slds-form-element__label.input-label {
  font-size: token(igLabelSmall);
  top: 0;
}

/**igcp classes**/

.THIS.igcp-header,
.THIS .igcp-header{
  background-color: token(igWhite);
  background-image: none;
}

.THIS .igcp-nav--link {
  font-family: token(whitneySemiBold);
  letter-spacing: token(igLetterSpacing);
  font-size: token(igLabelSmall);
  text-decoration: none;
}

.THIS .igcp-nav--logo {
  width: 100px;
}

.THIS.igcp-footer {
  padding-top: 0;
  padding-bottom: token(spaceLarge);
}

.THIS.igcp-footer .footer-link {
  float: none;
  position: relative;
  top: 48px;
}

.THIS.igcp-footer .footer-back-to-top-button {
  padding-left: token(spaceLarge);
  padding-right: token(spaceLarge);
  margin-bottom: 0;
}


.THIS.igcp-footer .footer-link a {
  font-family: token(whitneySemiBold);
  letter-spacing: token(igLetterSpacing);
  font-size: token(igLabelSmall);
  text-decoration: none;
  text-transform: uppercase;
}

.THIS.igcp-footer.site-footer .footer-copyright .footer-copyright-border-top .row .columns {
  text-align: left;
  border: 0;
  padding-left: 0;
  padding-right: 0;
}

.THIS.igcp-footer .footer-link a:first-child {
  padding-left: 0;
}

/*.THIS .igcp-login--col1 {*/
/*  max-width: 370px;*/
/*}*/

/*.THIS .igcp-login--spacer {*/
/*  max-width: 130px;*/
/*}*/

/*.THIS .igcp-login--col2 {*/
/*  max-width: 300px;*/
/*}*/

.THIS .igcp-input--help-link {
  font-family: token(whitneySemiBold);
  letter-spacing: token(igLetterSpacing);
  font-size: token(igLabelSmall);
}

.THIS .igcp-utils--uppercase {
  text-transform: uppercase;
}

.THIS .igcp-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

@media (min-width: 640px) {
  .THIS .igcp-nav .top-bar .top-bar-left, 
  .THIS .igcp-nav .top-bar .top-bar-right {
    width: auto;
  }
}

@media (min-width: 768px) { 
  .THIS.igcp-footer .footer-link {
    float: left;
  }
}

@media (min-width: 1024px) {
  .THIS.igcp-footer.site-footer {
    padding-top: 0;
  }
  
  .THIS.igcp-footer.site-footer .footer-copyright .footer-copyright-border-top .row {
    border-top: none;
  }
  
  .THIS.igcp-footer.site-footer .footer-copyright .footer-copyright-border-top .row .columns ul li {
    border-right: none;
  }
  
  .THIS.igcp-footer.site-footer .footer-navigation .columns {
    text-align: left;
  }
}

/*MARGIN-PADDING*/

/*xx large*/
.THIS.slds-m-around--xx-large,
.THIS .slds-m-around--xx-large {
  margin: token(spaceXxLarge);
}

.THIS.slds-m-top--xx-large,
.THIS .slds-m-top--xx-large {
  margin-top: token(spaceXxLarge);
}

.THIS.slds-m-bottom--xx-large,
.THIS .slds-m-bottom--xx-large {
  margin-bottom: token(spaceXxLarge);
}

.THIS.slds-m-right--xx-large,
.THIS .slds-m-right--xx-large {
  margin-right: token(spaceXxLarge);
}

.THIS.slds-m-left--xx-large,
.THIS .slds-m-left--xx-large {
  margin-left: token(spaceXxLarge);
}

.THIS.slds-m-horizontal--xx-large,
.THIS .slds-m-horizontal--xx-large {
  margin-left: token(spaceXxLarge);
  margin-right: token(spaceXxLarge);
}

.THIS.slds-m-vertical--xx-large,
.THIS .slds-m-vertical--xx-large {
  margin-top: token(spaceXxLarge);
  margin-bottom: token(spaceXxLarge);
}

.THIS.slds-p-around--xx-large,
.THIS .slds-p-around--xx-large {
  padding: token(spaceXxLarge);
}

.THIS.slds-p-top--xx-large,
.THIS .slds-p-top--xx-large {
  padding-top: token(spaceXxLarge);
}

.THIS.slds-p-bottom--xx-large
.THIS .slds-p-bottom--xx-large {
  padding-bottom: token(spaceXxLarge);
}

.THIS.slds-p-right--xx-large,
.THIS .slds-p-right--xx-large {
  padding-right: token(spaceXxLarge);
}

.THIS.slds-p-left--xx-large,
.THIS .slds-p-left--xx-large {
  padding-left: token(spaceXxLarge);
}

.THIS.slds-p-horizontal--xx-large,
.THIS .slds-p-horizontal--xx-large {
  padding-left: token(spaceXxLarge);
  padding-right: token(spaceXxLarge);
}


.THIS.slds-p-vertical--xx-large,
.THIS .slds-p-vertical--xx-large {
  padding-top: token(spaceXxLarge);
  padding-bottom: token(spaceXxLarge);
}

/*x large*/
.THIS.slds-m-around--x-large,
.THIS .slds-m-around--x-large {
  margin: token(spaceXLarge);
}

.THIS.slds-m-top--x-large,
.THIS .slds-m-top--x-large {
  margin-top: token(spaceXLarge);
}

.THIS.slds-m-bottom--x-large,
.THIS .slds-m-bottom--x-large {
  margin-bottom: token(spaceXLarge);
}

.THIS.slds-m-right--x-large,
.THIS .slds-m-right--x-large {
  margin-right: token(spaceXLarge);
}

.THIS.slds-m-left--x-large,
.THIS .slds-m-left--x-large {
  margin-left: token(spaceXLarge);
}

.THIS.slds-m-horizontal--x-large,
.THIS .slds-m-horizontal--x-large {
  margin-left: token(spaceXLarge);
  margin-right: token(spaceXLarge);
}

.THIS.slds-m-vertical--x-large,
.THIS .slds-m-vertical--x-large {
  margin-top: token(spaceXLarge);
  margin-bottom: token(spaceXLarge);
}

.THIS.slds-p-around--x-large,
.THIS .slds-p-around--x-large {
  padding: token(spaceXLarge);
}

.THIS.slds-p-top--x-large,
.THIS .slds-p-top--x-large {
  padding-top: token(spaceXLarge);
}

.THIS.slds-p-bottom--x-large,
.THIS .slds-p-bottom--x-large {
  padding-bottom: token(spaceXLarge);
}

.THIS.slds-p-right--x-large,
.THIS .slds-p-right--x-large {
  padding-right: token(spaceXLarge);
}

.THIS.slds-p-left--x-large,
.THIS .slds-p-left--x-large {
  padding-left: token(spaceXLarge);
}

.THIS.slds-p-horizontal--x-large,
.THIS .slds-p-horizontal--x-large {
  padding-right: token(spaceXLarge);
  padding-left: token(spaceXLarge);
}

.THIS.slds-p-vertical--x-large,
.THIS .slds-p-vertical--x-large {
  padding-top: token(spaceXLarge);
  padding-bottom: token(spaceXLarge);
}

/*large*/
.THIS.slds-m-around--large,
.THIS .slds-m-around--large {
  margin: token(spaceLarge);
}

.THIS.slds-m-top--large,
.THIS .slds-m-top--large {
  margin-top: token(spaceLarge);
}

.THIS.slds-m-bottom--large,
.THIS .slds-m-bottom--large {
  margin-bottom: token(spaceLarge);
}

.THIS.slds-m-right--large,
.THIS .slds-m-right--large {
  margin-right: token(spaceLarge);
}

.THIS.slds-m-left--large,
.THIS .slds-m-left--large {
  margin-left: token(spaceLarge);
}

.THIS.slds-m-horizontal--large,
.THIS .slds-m-horizontal--large {
  margin-left: token(spaceLarge);
  margin-right: token(spaceLarge);
}

.THIS.slds-m-vertical--large,
.THIS .slds-m-vertical--large {
  margin-top: token(spaceLarge);
  margin-bottom: token(spaceLarge);
}

.THIS.slds-p-around--large,
.THIS .slds-p-around--large {
  padding: token(spaceLarge);
}

.THIS.slds-p-top--large,
.THIS .slds-p-top--large {
  padding-top: token(spaceLarge);
}

.THIS.slds-p-bottom--large,
.THIS .slds-p-bottom--large {
  padding-bottom: token(spaceLarge);
}

.THIS.slds-p-right--large,
.THIS .slds-p-right--large {
  padding-right: token(spaceLarge);
}

.THIS.slds-p-left--large,
.THIS .slds-p-left--large {
  padding-left: token(spaceLarge);
}

.THIS.slds-p-horizontal--large,
.THIS .slds-p-horizontal--large {
  padding-right: token(spaceLarge);
  padding-left: token(spaceLarge);
}

.THIS.slds-p-vertical--large,
.THIS .slds-p-vertical--large {
  padding-top: token(spaceLarge);
  padding-bottom: token(spaceLarge);
}

/*medium*/
.THIS.slds-m-around--medium,
.THIS .slds-m-around--medium {
  margin: token(spaceMedium);
}
.THIS.slds-m-top--medium,
.THIS .slds-m-top--medium {
  margin-top: token(spaceMedium);
}
.THIS.slds-m-bottom--medium,
.THIS .slds-m-bottom--medium {
  margin-bottom: token(spaceMedium);
}
.THIS.slds-m-right--medium,
.THIS .slds-m-right--medium {
  margin-right: token(spaceMedium);
}
.THIS.slds-m-left--medium,
.THIS .slds-m-left--medium {
  margin-left: token(spaceMedium);
}
.THIS.slds-m-horizontal--medium,
.THIS .slds-m-horizontal--medium {
  margin-left: token(spaceMedium);
  margin-right: token(spaceMedium);
}
.THIS.slds-m-vertical--medium,
.THIS .slds-m-vertical--medium {
  margin-top: token(spaceMedium);
  margin-bottom: token(spaceMedium);
}

.THIS.slds-p-around--medium,
.THIS .slds-p-around--medium {
  padding: token(spaceMedium);
}
.THIS.slds-p-top--medium,
.THIS .slds-p-top--medium {
  padding-top: token(spaceMedium);
}
.THIS.slds-p-bottom--medium,
.THIS .slds-p-bottom--medium {
  padding-bottom: token(spaceMedium);
}
.THIS.slds-p-right--medium,
.THIS .slds-p-right--medium {
  padding-right: token(spaceMedium);
}
.THIS.slds-p-left--medium,
.THIS .slds-p-left--medium {
  padding-left: token(spaceMedium);
}
.THIS.slds-p-horizontal--medium,
.THIS .slds-p-horizontal--medium {
  padding-left: token(spaceMedium);
  padding-right: token(spaceMedium);
}
.THIS.slds-p-vertical--medium,
.THIS .slds-p-vertical--medium {
  padding-top: token(spaceMedium);
  padding-bottom: token(spaceMedium);
}

/*small*/
.THIS.slds-m-around--small,
.THIS .slds-m-around--small {
  margin: token(spaceSmall);
}
.THIS.slds-m-top--small,
.THIS .slds-m-top--small {
  margin-top: token(spaceSmall);
}
.THIS.slds-m-bottom--small,
.THIS .slds-m-bottom--small {
  margin-bottom: token(spaceSmall);
}
.THIS.slds-m-right--small,
.THIS .slds-m-right--small {
  margin-right: token(spaceSmall);
}
.THIS.slds-m-left--small,
.THIS .slds-m-left--small {
  margin-left: token(spaceSmall);
}
.THIS.slds-m-horizontal--small,
.THIS .slds-m-horizontal--small {
  margin-left: token(spaceSmall);
  margin-right: token(spaceSmall);
}
.THIS.slds-m-vertical--small,
.THIS .slds-m-vertical--small {
  margin-top: token(spaceSmall);
  margin-bottom: token(spaceSmall);
}
.THIS.slds-p-around--small,
.THIS .slds-p-around--small {
  padding: token(spaceSmall);
}
.THIS.slds-p-top--small,
.THIS .slds-p-top--small {
  padding-top: token(spaceSmall);
}
.THIS.slds-p-bottom--small,
.THIS .slds-p-bottom--small {
  padding-bottom: token(spaceSmall);
}
.THIS.slds-p-right--small,
.THIS .slds-p-right--small {
  padding-right: token(spaceSmall);
}
.THIS.slds-p-left--small,
.THIS .slds-p-left--small {
  padding-left: token(spaceSmall);
}
.THIS.slds-p-horizontal--small,
.THIS .slds-p-horizontal--small {
  padding-left: token(spaceSmall);
  padding-right: token(spaceSmall);
}
.THIS.slds-p-vertical--small,
.THIS .slds-p-vertical--small {
  padding-top: token(spaceSmall);
  padding-bottom: token(spaceSmall);
}

/*x small*/
.THIS .slds-m-around--x-small,
.THIS .slds-m-around--x-small {
  margin: token(spaceXSmall);
}
.THIS .slds-m-top--x-small,
.THIS .slds-m-top--x-small {
  margin-top: token(spaceXSmall);
}
.THIS .slds-m-bottom--x-small,
.THIS .slds-m-bottom--x-small {
  margin-bottom: token(spaceXSmall);
}
.THIS .slds-m-right--x-small,
.THIS .slds-m-right--x-small {
  margin-right: token(spaceXSmall);
}
.THIS .slds-m-left--x-small,
.THIS .slds-m-left--x-small {
  margin-left: token(spaceXSmall);
}
.THIS .slds-m-horizontal--x-small,
.THIS .slds-m-horizontal--x-small {
  margin-left: token(spaceXSmall);
  margin-right: token(spaceXSmall);
}
.THIS .slds-m-vertical--x-small,
.THIS .slds-m-vertical--x-small {
  margin-top: token(spaceXSmall);
  margin-bottom: token(spaceXSmall);
}
.THIS .slds-p-around--x-small,
.THIS .slds-p-around--x-small {
  padding: token(spaceXSmall);
}
.THIS .slds-p-top--x-small,
.THIS .slds-p-top--x-small {
  padding-top: token(spaceXSmall);
}
.THIS .slds-p-bottom--x-small,
.THIS .slds-p-bottom--x-small {
  padding-bottom: token(spaceXSmall);
}
.THIS .slds-p-right--x-small,
.THIS .slds-p-right--x-small {
  padding-right: token(spaceXSmall);
}
.THIS .slds-p-left--x-small,
.THIS .slds-p-left--x-small {
  padding-left: token(spaceXSmall);
}
.THIS .slds-p-horizontal--x-small,
.THIS .slds-p-horizontal--x-small {
  padding-left: token(spaceXSmall);
  padding-right: token(spaceXSmall);
}
.THIS .slds-p-vertical--x-small,
.THIS .slds-p-vertical--x-small {
  padding-top: token(spaceXSmall);
  padding-bottom: token(spaceXSmall);
}

/*xx small*/
.THIS.slds-m-around--xx-small,
.THIS .slds-m-around--xx-small {
  margin: token(spaceXxSmall);
}
.THIS.slds-m-top--xx-small,
.THIS .slds-m-top--xx-small {
  margin-top: token(spaceXxSmall);
}
.THIS.slds-m-bottom--xx-small,
.THIS .slds-m-bottom--xx-small {
  margin-bottom: token(spaceXxSmall);
}
.THIS.slds-m-right--xx-small,
.THIS .slds-m-right--xx-small {
  margin-right: token(spaceXxSmall);
}
.THIS.slds-m-left--xx-small,
.THIS .slds-m-left--xx-small {
  margin-left: token(spaceXxSmall);
}
.THIS.slds-m-horizontal--xx-small,
.THIS .slds-m-horizontal--xx-small {
  margin-left: token(spaceXxSmall);
  margin-right: token(spaceXxSmall);
}
.THIS.slds-m-vertical--xx-small,
.THIS .slds-m-vertical--xx-small {
  margin-top: token(spaceXxSmall);
  margin-bottom: token(spaceXxSmall);
}
.THIS.slds-p-around--xx-small,
.THIS .slds-p-around--xx-small {
  padding: token(spaceXxSmall);
}
.THIS.slds-p-top--xx-small,
.THIS .slds-p-top--xx-small {
  padding-top: token(spaceXxSmall);
}
.THIS.slds-p-bottom--xx-small,
.THIS .slds-p-bottom--xx-small {
  padding-bottom: token(spaceXxSmall);
}
.THIS.slds-p-right--xx-small,
.THIS .slds-p-right--xx-small {
  padding-right: token(spaceXxSmall);
}
.THIS.slds-p-left--xx-small,
.THIS .slds-p-left--xx-small {
  padding-left: token(spaceXxSmall);
}
.THIS.slds-p-horizontal--xx-small,
.THIS .slds-p-horizontal--xx-small {
  padding-left: token(spaceXxSmall);
  padding-right: token(spaceXxSmall);
}
.THIS.slds-p-vertical--xx-small,
.THIS .slds-p-vertical--xx-small {
  padding-top: token(spaceXxSmall);
  padding-bottom: token(spaceXxSmall);
}

/*xxx small*/
.THIS.slds-m-around--xxx-small,
.THIS .slds-m-around--xxx-small {
  margin: token(spaceXxxSmall);
}
.THIS.slds-m-top--xxx-small,
.THIS .slds-m-top--xxx-small {
  margin-top: token(spaceXxxSmall);
}
.THIS.slds-m-bottom--xxx-small,
.THIS .slds-m-bottom--xxx-small {
  margin-bottom: token(spaceXxxSmall);
}
.THIS.slds-m-right--xxx-small,
.THIS .slds-m-right--xxx-small {
  margin-right: token(spaceXxxSmall);
}
.THIS.slds-m-left--xxx-small,
.THIS .slds-m-left--xxx-small {
  margin-left: token(spaceXxxSmall);
}
.THIS.slds-m-horizontal--xxx-small,
.THIS .slds-m-horizontal--xxx-small {
  margin-left: token(spaceXxxSmall);
  margin-right: token(spaceXxxSmall);
}
.THIS.slds-m-vertical--xxx-small,
.THIS .slds-m-vertical--xxx-small {
  margin-top: token(spaceXxxSmall);
  margin-bottom: token(spaceXxxSmall);
}
.THIS.slds-p-around--xxx-small,
.THIS .slds-p-around--xxx-small {
  padding: token(spaceXxxSmall);
}
.THIS.slds-p-top--xxx-small,
.THIS .slds-p-top--xxx-small {
  padding-top: token(spaceXxxSmall);
}
.THIS.slds-p-bottom--xxx-small,
.THIS .slds-p-bottom--xxx-small {
  padding-bottom: token(spaceXxxSmall);
}
.THIS.slds-p-right--xxx-small,
.THIS .slds-p-right--xxx-small {
  padding-right: token(spaceXxxSmall);
}
.THIS.slds-p-left--xxx-small,
.THIS .slds-p-left--xxx-small {
  padding-left: token(spaceXxxSmall);
}
.THIS.slds-p-horizontal--xxx-small,
.THIS .slds-p-horizontal--xxx-small {
  padding-left: token(spaceXxxSmall);
  padding-right: token(spaceXxxSmall);
}
.THIS.slds-p-vertical--xxx-small,
.THIS .slds-p-vertical--xxx-small {
  padding-top: token(spaceXxxSmall);
  padding-bottom: token(spaceXxxSmall);
}

/*FONT FACE*/
@font-face {
  font-family: 'WhitneyBook';
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  src: url('/resource/login_assets/login/fonts/whitney-book-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'WhitneySemiBold';
  src: url('/resource/login_assets/login/fonts/whitney-semibold-webfont.woff') format('woff2');
}

@font-face {
  font-family: 'WhitneyLight';
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  src: url('/resource/login_assets/login/fonts/whitney-light-webfont.woff2') format('woff2');
}