//Elements - elements styling only, class specific styles should be placed in the igcp folder.
//.THIS {
    
    h1 {
        font-family: $ig-whitney-light;
        font-size: $ig-m-label-small;
        line-height: $ig-m-label-small;
       
    }
    
    h2 {
        font-family: $ig-whitney-light;
        font-size: $ig-m-h2;
        line-height: $ig-m-h2-line-height;
        
    }
    
    h3 {
        font-family: $ig-whitney-book;
        font-size: $ig-m-h3;
        line-height: $ig-m-h3-line-height;
       
    }
    
    h4 {
        font-family: $ig-whitney-book;
        font-size: $ig-m-h4;
        line-height: $ig-m-h4-line-height;
    }
    
    h1, h2, h3, h4 {
        color: $ig-dark-blue;
        text-transform: inherit;
        text-transform: initial;
    }
    
    p {
        font-family: $ig-whitney-book;
        font-size: $ig-m-p;
    }

    a {
      text-decoration: none;
    }

    label {
        border: none;
    }
//}