//Elements - elements styling only, class specific styles should be placed in the igcp folder.
h1,
h2,
h3,
h4 {
    color: $ig-dark-blue;
}

h1 {
    font-family: 'WhitneySemiBold', Arial, sans-serif;
    font-size: $ig-m-label-small;
    line-height: $ig-m-label-small;
    letter-spacing: $ig-letter-spacing;
    text-transform: uppercase;
}

h2 {
    font-family: 'WhitneyBook', Arial, sans-serif;
    font-size: $ig-m-h3;
    line-height: $ig-m-h3-line-height;
    text-transform: inherit;
    text-transform: initial;
    letter-spacing: $ig-letter-spacing;
}

h3 {
    font-family: 'WhitneyBook', Arial, sans-serif;
    font-size: $ig-m-h3;
    line-height: $ig-m-h3-line-height;
    text-transform: inherit;
    text-transform: initial;
}

h4 {
    font-family: 'WhitneyBook', Arial, sans-serif;
    font-size: $ig-m-h4;
    line-height: $ig-line-height-text;
    text-transform: inherit;
    text-transform: initial;
}

p {
    font-family: 'WhitneyBook', Arial, sans-serif;
    font-size: $ig-m-p;
    letter-spacing: $ig-letter-spacing;
}

body {
	font-family: 'WhitneyBook', Arial, sans-serif;
	background-image: url('../images/bg-tile.jpg');
    background-repeat: repeat;
    color: $ig-dark-blue;
}

a {
	color: $ig-dark-blue;
    text-decoration: none;
}

label {
    border: none;
}

[type=button], [type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
}