//Fonts - pretty self explanatory

@font-face {
  font-family: 'WhitneyBook';
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  src: url(../fonts/whitney-book-webfont.woff2) format("woff2"), url(../fonts/whitney-book-webfont.woff) format("woff"), url(../fonts/whitney-book-webfont.ttf) format("truetype");
}

@font-face {
  font-family: 'WhitneySemiBold';
  src: url(../fonts/whitney-semibold-webfont.woff2) format("woff2"), url(../fonts/whitney-semibold-webfont.woff) format("woff"), url(../fonts/whitney-semibold-webfont.ttf) format("truetype");
}

@font-face {
  font-family: 'WhitneyLight';
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  src: url(../fonts/whitney-light-webfont.woff2) format("woff2"), url(../fonts/whitney-light-webfont.woff) format("woff"), url(../fonts/whitney-light-webfont.ttf) format("truetype");
}