//Fonts - pretty self explanatory

@font-face {
  font-family: 'WhitneyBook';
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  src: url('/resource/igcpresources/igcp-resources/fonts/whitney-book-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'WhitneySemiBold';
  src: url('/resource/igcpresources/igcp-resources/fonts/whitney-semibold-webfont.woff') format('woff2');
}

@font-face {
  font-family: 'WhitneyLight';
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  src: url('/resource/igcpresources/igcp-resources/fonts/whitney-light-webfont.woff2') format('woff2');
}