//Global vars - all SASS vars should be placed here, check SLDS design token for pre-existing token before adding an new vars here.
$namespace: 'igcp';

//Colours
//Brand
$ig-blue: #004171;
$ig-dark-blue: #0d263c;
$ig-dark-blue--90: rgba(red($ig-dark-blue), green($ig-dark-blue), blue($ig-dark-blue), 0.9);
$ig-green: #0ed59a;
$ig-teal: #7ec4b9;
$ig-light-teal: #f1f7f7;
$ig-beige: #faf7e6;

//CP
$ig-light-blue: #b4defa;
$ig-link-blue: #0e75d5;
$ig-dark-green: #008a2a;
$ig-gold: #dedc4d;
$ig-red: #ea051c;
$ig-light-grey: #f8f8f9;
$ig-darkest-grey: #6D7D8A;
$ig-grey: #e9ecee;
$ig-dark-grey: #d3d8dc;
$ig-white: #fff;
$ig-black: #282828;


//System
$ig-system-success: #00855F;
$ig-system-ok: #00855F;
$ig-system-error: #D42F1A;
$ig-system-alert: #D42F1A;
$ig-system-informational: #0E75D5;

//Breakpoints
$ig-x-small: 375px;
$ig-small: 480px;
$ig-medium: 768px;
$ig-large: 1024px;
$ig-x-large: 1280px;

$ig-breakpoints: (
    default 0,
    small $ig-small,
    medium $ig-medium,
    large $ig-large
);

//Sizing - Margin/Padding/Icon Size etc.
$ig-space--xx-large: 60px;
$ig-space--x-large: 40px;
$ig-space--large: 32px;
$ig-space--medium: 24px;
$ig-space--small: 16px;
$ig-space--x-small: 12px;
$ig-space--xx-small: 8px;
$ig-space--xxx-small: 4px;

$ig-sizes: (
    xx-large $ig-space--xx-large,
    x-large $ig-space--x-large,
    large $ig-space--large,
    medium $ig-space--medium,
    small $ig-space--small,
    x-small $ig-space--x-small,
    xx-small $ig-space--xx-small,
    xxx-small $ig-space--xxx-small,
    zero 0
);

//Typography
$ig-whitney-book: 'WhitneyBook', Arial, sans-serif;
$ig-whitney-semibold: 'WhitneySemibold', Arial, sans-serif;
$ig-whitney-light: 'WhitneyLight', Arial, sans-serif;

//IGDS - Font Sizing and Line Height
//X-MINI
$ig-font-size--x-mini: 12px;
$ig-line-height--x-mini: 16px;
//MINI
$ig-font-size--mini: 14px;
$ig-line-height--mini: 24px;
//BASE
$ig-font-size--base: 16px;
$ig-line-height--base: 24px;
//MEDIUM
$ig-font-size--medium: 20px;
$ig-line-height--medium: 32px;
///MEDIUM-PLUS
$ig-font-size--medium-plus: 24px;
$ig-line-height--medium-plus: 32px;
//LARGE
$ig-font-size--large: 32px;
$ig-line-height--large: 40px;
//X-LARGE
$ig-font-size--x-large: 48px;
$ig-line-height--x-large: 56px;
//XX-LARGE
$ig-font-size--xx-large: 72px;
$ig-line-height--xx-large: 88px;
//SUPER
$ig-font-size--super: 144px;
$ig-line-height--super: 144px;

$ig-letter-spacing: 0px;

//Mobile nav
$ig-mobile-nav-left-width: 100%;
$ig-mobile-nav-right-width: 100%;
$ig-mobile-nav-boxshadow: rgba(red($ig-blue), green($ig-blue), blue($ig-blue), 0.7);

//Modal wrapper text
$ig-modal-wrapper-text-width: 600px;