//Breakpoints - this file is for breakpoint styling that target elements only, any class specific styling should be put in the breakpoints file in the igcp folder.

//Small
@media (min-width: $ig-small) {
    .THIS {
    
    }
}

//Medium
@media (min-width: $ig-medium) { 
    .THIS {
    
    }
}

//Large
@media (min-width: $ig-large) {
    .THIS {
        h1 {
            font-size: $ig-h1;
            line-height: $ig-h1-line-height;
        }
        
        h2 {
            font-size: $ig-h2;
            line-height: $ig-h2-line-height;
        }
        
        h3 {
            font-size: $ig-h3;
            line-height: $ig-h3-line-height;
        }
        
        h4 {
            font-size: $ig-h4;
        }
        
        p {
            font-size: $ig-p;
        }
    }
}