//BEM convention
//[namespace]-[block]__[element]--[modifier]
//See https://seesparkbox.com/foundry/bem_by_example for details

//Registration - any styling related to the registration process 

.THIS {
    .#{$namespace}-registration {
    
        .#{$namespace}-registration__pfa--step {
            
            p {
                height: 72px;
                min-height: 48px;
            }
        }
        
        .#{$namespace}-registration__pfa--monitor {
            position: relative;
            top: 10px;
        }
    }   
}