//BEM convention
//[namespace]-[block]__[element]--[modifier]
//See https://seesparkbox.com/foundry/bem_by_example for details

//Utils - contains generic classes that can used on any element, generally should contain only one property, before adding new classes here, ensure that the SLDS(https://lightningdesignsystem.com/) does not already have the class you need. 

.THIS {
    
    .#{$namespace}-utils__font--light {
      font-family: token(whitneyLight);
    }
  
    .#{$namespace}-utils__font--semibold {
      font-family: token(whitneySemiBold);
    }
    
    .#{$namespace}-utils__font--book {
      font-family: token(whitneyBook);
    }

  
    .#{$namespace}-utils__font-size--small {
      font-size: $ig-p;
    }
  
    .#{$namespace}-utils__text--uppercase {
      text-transform: uppercase;
    }
    
    .#{$namespace}-utils__text--lowercase {
      text-transform: lowercase;
    }
    
    .#{$namespace}-utils__text--capitalize {
      text-transform: capitalize;
    }
    
    .#{$namespace}-utils__text--underline {
      text-decoration: underline;
    }
    
    .#{$namespace}-utils__text--no-underline {
      text-decoration: none;
    }
    
    .#{$namespace}-utils__width--25 {
      width: 25%;
    }
    
    .#{$namespace}-utils__width--50 {
      width: 50%;
    }
    
    .#{$namespace}-utils__width--75 {
      width: 75%;
    }
    
    .#{$namespace}-utils__width--full {
      width: 100%;
    }
    
    .#{$namespace}-utils__width--auto {
      width: auto;
    }
    
    .#{$namespace}-utils__max-width--large {
      max-width: $ig-large;
    }
    
    .#{$namespace}-utils__max-width--medium {
      max-width: $ig-medium;
    }
    
    .#{$namespace}-utils__max-width--small {
      max-width: $ig-small;
    }
    
    .#{$namespace}-utils__max-width--none {
      max-width: none;
    }
    
    .#{$namespace}-utils__display--none,
    .#{$namespace}-utils__hide {
      display: none;
    }
    
    .#{$namespace}-utils__display--inline,
    .#{$namespace}-utils__show--inline {
      display: inline;
    }
    
    .#{$namespace}-utils__display--block,
    .#{$namespace}-utils__show--block {
      display: block;
    }
    
    .#{$namespace}-utils__display--inline-block,
    .#{$namespace}-utils__show--inline-block {
      display: inline-block;
    }
    
    .#{$namespace}-utils__display--table-cell,
    .#{$namespace}-utils__show--table-cell {
      display: table-cell;
    }
    
    .#{$namespace}-utils__bullets--disc {
      list-style: disc;
    }
    
    .#{$namespace}-utils__fade--in {
       @include fadeTo();
     
    }
    
    .#{$namespace}-utils__fade--out {
      @include fadeTo(0);
    }
    
    .#{$namespace}-utils__opacity--0 {
      opacity: 0;
    }
    
    .#{$namespace}-utils__opacity--25 {
      opacity: 0.25;
    }
    
    .#{$namespace}-utils__opacity--50 {
      opacity: 0.5;
    }
    
    .#{$namespace}-utils__opacity--75 {
      opacity: 0.75;
    }
    
    .#{$namespace}-utils__opacity--100 {
      opacity: 1;
    }
}