.THIS {
    position: relative;
}

.THIS .hidden {
    display: none;
    visibility: hidden;
}

/* common.css provides other style rules for .componentHeading */
.THIS .componentHeading {
    color: token(theColorTextLink);
    border-color: token(theColorTextLink);
}

.THIS .uiInputCheckbox label,
.THIS .uiInputCheckbox input {
    display: inline-block;
}

.THIS .uiInputCheckbox input[type=checkbox] {
    margin-left: 0.25rem;
    margin-top: 0.25rem;
}

.THIS .taxonomy-search-results-filters {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    padding-left: 1.5rem;
    min-height: 20rem;
}

.THIS .taxonomy-search-results-no-filtered-results,
.THIS .taxonomy-search-results {
    width: 75%;
    display: inline-block;
}


@media (max-width: 1000px) {
    .THIS .taxonomy-search-results-filters {
        padding-left: 0.75rem;
    }
}

@media (max-width: 785px) {
    .THIS .taxonomy-search-results,
    .THIS .taxonomy-search-results-no-filtered-results,
    .THIS .taxonomy-search-results-filters {
        width: 100%;
        display: block;
    }

    .THIS .taxonomy-search-results-filters {
        padding-left: 0;
    }
}


.THIS button.likeButton {
    display: none;
}

.THIS .uiInputCheckbox {
    display: flex;
}

.THIS .uiInputCheckbox label.uiLabel {
    order: 2;
    padding-left: 0.5rem;
}

.THIS .taxonomy-search-results-filters.hidden {
    visibility: hidden;
}

.THIS .taxonomy-search-results.hide,
.THIS .taxonomy-search-results .hide {
    display: none;
}

.THIS .taxonomy-search-results-filters .slds-box {
    margin-bottom: 1rem;
}

.THIS .taxonomy-search-results-filters .uiInputSelect label,
.THIS .taxonomy-search-results-filters-title {
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.THIS .taxonomy-search-results-filters-title.uiLabel {
    margin-bottom: 0.5rem;
    display: inline-block;
}

.THIS .taxonomy-search-results-filters-title-date,
.THIS .filterTaxonomyTitle {
    margin: 0.5rem 0 0.25rem 0;
    text-transform: uppercase;
    color: token(theColorTextLink);
}

.THIS .uiInputCheckbox,
.THIS .tagFilters[data-originids] {
    margin-left: 0.75rem;
}

/* some simple .news-item-summary-basic styling (not duplicating original from tax'y loader) */
.THIS .news-item-summary-basic .slds-text-heading--medium {
    margin-bottom: 0.5rem;
    color: token(theColorTextLink);
}

.THIS .news-item-summary-basic .timeSincePublished {
    display: inline-block;
}

/* Article Summary Compact */
.THIS .article-summary-compact .slds-item {
    justify-content: space-between;
    width: 100%;
}

.THIS .article-summary-compact {
    margin-top: 5px;
}

.THIS .article-summary-compact .slds-icon {
    float: left;
    margin-right: 10px;
}

.THIS .article-summary-compact .slds-list--horizontal {
    margin-top: 5px;
}

.THIS .article-summary-compact .slds-list--horizontal .slds-item {
    justify-content: flex-end;
}

.THIS .article-summary-compact .timeSincePublished {
    margin-right: 20px;
}
.THIS .article-summary-compact .article-title-compact {
    font-size: 1rem;
}