.THIS {
    text-transform: uppercase;
    font-size: 0.875rem;
}

.THIS img.logo {
    height: 60px;
    padding: 5px;
}

.THIS .menu-home span {
    display: none;
}

.THIS .slds-context-bar__item:not(.slds-no-hover):hover,
.THIS .slds-context-bar__item.slds-is-active {
    /*border-bottom: 3px solid transparent;*/
    border-bottom: none;    /* override app.css 3px solid theme */
    background-color: white;
    margin-bottom: 0;       /* overrie app.css -3px */
}

.THIS .slds-context-bar__item:not(.slds-no-hover):hover:after {
    background: transparent;            /* override app.css trickery */
}

.THIS .slds-context-bar__label-action:hover,
.THIS .slds-context-bar__label-action:focus {
    color: token(colorTextBrand);
}

.THIS .slds-dropdown__item {
    font-size: 0.9em;
}

.THIS .show-menu {
    display: none;
}

.THIS input[type=checkbox] {
    display: none;
}

@media only screen and (max-width: 48rem) {
	.THIS {
        display: block;
        padding: 0;
    }

    .THIS nav {
        border-radius: 0 0 0.25rem 0.25rem;
    	background-color: rgb(247, 249, 251);
    	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    	position: relative;
    	z-index: 100;
    }

    .THIS .show-menu {
        text-align: center;
        padding: 0.5rem 0;
    }

    .THIS.mobileMenuOpen > nav.slds-context-bar__secondary { /* formerly input[type=checkbox]:checked ~ nav */
    	display: block;
    	/*border-bottom: 2px solid token(colorBorderBrand);*/
	}

    .THIS.mobileMenuOpen li {
        text-align: center;
    }

    .THIS nav ul.slds-grid {
        display: block;
        position: relative;
        z-index: 1000;
    }

    .THIS nav li {
        display: block;
        max-width: 100%;
    }

    .THIS nav .slds-context-bar__item {
        border-bottom: 1px solid white;
    }

    .THIS .slds-context-bar__item:not(.slds-no-hover):hover, 
    .THIS .slds-context-bar__item.slds-is-active {
        border-bottom: 1px solid white;
        margin-bottom: 0;
    }

    .THIS nav .slds-context-bar__item:not(.slds-no-hover):hover:after {
        background: none;
    }

    .THIS .slds-context-bar__item > a:active,
    .THIS .slds-context-bar__item > a:hover, 
    .THIS .slds-context-bar__item > a:focus {
    	color: #1e5d88;
        text-decoration: none;
	}

    .THIS .slds-dropdown__item > a:active,
    .THIS .slds-dropdown__item > a:hover, 
    .THIS .slds-dropdown__item > a:focus {
    	color: #1e5d88;
        text-decoration: none;
    	background-color: rgb(255, 255, 255);
	}

    .THIS nav li a {
        display: block;
        padding: 0.5rem 0;
    }

    .THIS li .slds-context-bar__icon-action {
        display: none;
    }

    .THIS li .slds-dropdown {
        visibility: visible;
    	opacity: 1;
    	position: relative;
    	float: none;
    	min-width: auto;
    	max-width: none;
    	border: 0;
    	box-shadow: none;
    	padding: 0;
    	margin-top: 0;
    }
}