//May break into separate files sometime down the road
//if this file starts to get big enough

//Small
@media (min-width: $ig-small) {
  .THIS {
    
    .igcp-small-utils-width--25 {
      width: 25%;
    }
    
    .igcp-small-utils-width--50 {
      width: 50%;
    }
    
    .igcp-small-utils-width--75 {
      width: 75%;
    }
    
    .igcp-small-utils-width--full {
      width: 100%;
    }
    
    .igcp-small-utils-width--auto {
      width: auto;
    }
    
    .igcp-small-utils--underline {
      text-decoration: underline;
    }
    
    .igcp-small-utils--no-underline {
      text-decoration: none;
    }
    
    .igcp-login {
        .igcp-login--col1 {
            .igcp-login--sign-in {
               width: auto; 
            }
        }
    }
  }
}

//Medium
@media (min-width: $ig-medium) { 
  .THIS {
    
    .igcp-medium-utils-width--25 {
      width: 25%;
    }
    
    .igcp-medium-utils-width--50 {
      width: 50%;
    }
    
    .igcp-medium-utils-width--75 {
      width: 75%;
    }
    
    .igcp-medium-utils-width--full {
      width: 100%;
    }
    
    .igcp-medium-utils-width--auto {
      width: auto;
    }
    
    .igcp-medium-utils--underline {
      text-decoration: underline;
    }
    
    .igcp-medium-utils--no-underline {
      text-decoration: none;
    }
    
    .igcp-footer { 
      .footer-link {
        float: left;
      }
    }
    
    .igcp-card--image {
        width: 75%;
    }
  }
  
}

//Large
@media (min-width: $ig-large) {
  .THIS {
    
    .igcp-large-utils-width--25 {
      width: 25%;
    }
    
    .igcp-large-utils-width--50 {
      width: 50%;
    }
    
    .igcp-large-utils-width--75 {
      width: 75%;
    }
    
    .igcp-large-utils-width--full {
      width: 100%;
    }
    
    .igcp-large-utils-width--auto {
      width: auto;
    }
    
    .igcp-large-utils--underline {
      text-decoration: underline;
    }
    
    .igcp-large-utils--no-underline {
      text-decoration: none;
    }
    
    .igcp-value--large {
      font-size: $ig-h1;
    }
    
    .igcp-container {
      margin-right: token(spaceMedium);
    }
    
    .igcp-value--medium {
      line-height: token(lineHeightText);
      font-size: $ig-h2;
    }
    
    .igcp-value--small {
      line-height: token(lineHeightText);
      font-size: $ig-h3;
    }
    
    .igcp-value--x-small {
      line-height: token(lineHeightText);
      font-size: $ig-h4;
    }
    
    .igcp-separator--large {
      height: token(spaceXSmall);
    }
    
    .igcp-account_item--name {
      border-bottom: none;
    }
    
    .igcp-card--image {
        width: 100%;
    }
    
    .igcp-footer {
      padding-top: 0;
    
      .footer-copyright {
        .footer-copyright-border-top .row {
            border-top: none;
            
            .columns ul li {
                border-right: none;
            }
        }        
      }
        
      .footer-navigation .columns {
          text-align: left;
      }
    }
  }
}