.THIS {
   
    .igcp-header{
      background-color: token(igWhite);
      background-image: none;
      
    .igcp-nav {
        
        max-width: $ig-x-large;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        
        .top-bar {
        
          padding: token(spaceXxSmall);
        
          .top-bar-left, .top-bar-right {
            width: auto;
            padding-top: token(spaceXSmall);
            padding-bottom: token(spaceXxxSmall);
          } 
        }
      }
    }

    .igcp-nav--link {
      font-family: token(whitneySemiBold);
      letter-spacing: token(igLetterSpacing);
      font-size: token(igLabelSmall);
      text-decoration: none;
    }

    .igcp-nav--logo {
      
      img {
         width: 100px; 
      }
    }
}