.THIS {
    .igcp-utils--uppercase {
      text-transform: uppercase;
    }
    
    .igcp-utils--lowercase {
      text-transform: lowercase;
    }
    
    .igcp-utils--capitalize {
      text-transform: capitalize;
    }
    
    .igcp-utils--underline {
      text-decoration: underline;
    }
    
    .igcp-utils--no-underline {
      text-decoration: none;
    }
    
    .igcp-utils-width--25 {
      width: 25%;
    }
    
    .igcp-utils-width--50 {
      width: 50%;
    }
    
    .igcp-utils-width--75 {
      width: 75%;
    }
    
    .igcp-utils-width--full {
      width: 100%;
    }
    
    .igcp-utils-width--auto {
      width: auto;
    }
    
    .igcp-utils--max-width_large {
      max-width: $ig-large;
    }
    
    .igcp-utils--max-width_medium {
      max-width: $ig-medium;
    }
    
    .igcp-utils--max-width_small {
      max-width: $ig-small;
    }
}