.THIS.restrictWidthContainer,
.THIS .restrictWidthContainer {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}

.THIS .pageHeaderBackground {
    position: relative;
}

.THIS .pageHeaderToolbar {
    line-height: normal;
    height: 40px;
    width: 100%;
}

.THIS .pageHeaderToolbar .restrictWidthContainer {
    display: flex;
    white-space: nowrap;
}

.THIS .pageHeaderToolbar,
.THIS .pageHeaderMenu .slds-context-bar {
    background-color: #f4f4f4;
    padding: 0 0.5rem;
}

.THIS .pageHeaderMenu .slds-context-bar {
    height: auto;   /* app.css thinks .slds-context-bar should always be 2.5rem */
}

.THIS .pageHeaderMenu .slds-context-bar nav {
    max-width: 1200px;
    margin: 0 auto;
    display: table;  /* LC-104 - necessary to left-align menu in IE 11*/
    width: 100%; /* LC-104 - necessary to left-align menu in IE 11*/
}

.THIS .pageHeaderBody {
    height: 130px;      /* warning?! fixed height */
}

.THIS .pageHeaderMenu nav > ul.slds-grid {
    flex-wrap: wrap;
    max-width: 1200px; /* LC-104 - necessary to left-align menu in IE 11*/
    width: 100%;       /* LC-104 - necessary to left-align menu in IE 11*/
    margin-left: auto; /* LC-104 - necessary to left-align menu in IE 11*/
    margin-right: auto; /* LC-104 - necessary to left-align menu in IE 11*/
}

.THIS .pageHeaderMenu nav > ul.slds-grid > li {
    padding: 0.5rem 0;
}

.THIS .profileName,
.THIS .triggerDownArrow {
    color: black;
}

.THIS .selfServiceProfileMenuTrigger .profileIcon {
    width: 24px;
    height: 24px;
}

.THIS .selfServiceProfileMenuTrigger .profileName {
    max-width: none;
}

.THIS .selfServiceProfileMenu .uiMenuList.visible {
    left: initial;
    /*right: -90px;*/ /* how was this previously part of a general solution? */
    right: 0.5rem;
    margin-top: 2rem;
    transform: none;        /* app.css gives us translateX(-50%); */
}

.THIS .pageHeaderLogo {
    position: absolute;
    top: 36px;
    left: 1.75rem;
    max-height: 60px;
}

.THIS .big-search-container {
    height: 0;
}

.THIS .selfServiceSearchWrapper .search-wrapper {
    padding: 0;
}

.THIS #pageHeaderSearch .ui-widget {
    position: absolute;
    right: 1.75rem;
    top: 40px;
    height: 50px;
}

.THIS .forceCommunityOmniBox.selfServiceSearchWrapper .search-field {
    padding-right: 200px;
}

.THIS .selfServiceProfileMenuTrigger a.trigger-link {
    position: absolute;
    top: 0;
    right: 1.75rem;
    padding: 0;
    /*width: auto;*/
    width: auto;       /* else, long names cause wrapping; also, .profileName comes with max-width of 50% and includes ellision */
}

.THIS .selfServiceProfileMenu {
    margin-top: 0.5rem;
}

.THIS .slds-context-bar {
    border-bottom: 3px solid token(colorBorderBrand);
}

.THIS .selfServiceProfileMenuTrigger .trigger-link:focus {
    box-shadow: none;
}

.THIS .selfServiceProfileMenuTrigger {
    top: 0;
}


.THIS [data-region-name="profileMenu"] {
    padding: 0;
    width: auto;
    min-width: 200px;
}


/***************
 * Quick Links
 **************/

.THIS .quickLinksContainer {
    height: 40px;
}

.THIS .pageHeaderToolbar.quickLinksEnabled {
    height: 100vh;
}

.THIS .pageHeaderToolbar.quickLinksEnabled nav#tab-head {
    display: inline-block;  /* so hover effect is not full width of window */
}

.THIS .mainContentArea.hide,
.THIS .pageHeaderSearch.hide,
.THIS .pageHeader.hide,
.THIS .navigation.hide,
.THIS .newFooter.hide,
.THIS .pageHeaderNotQuickLinks.hide {
    display: none;
}

.THIS .slds-context-bar__icon-action {  /* we want top and bottom, not just sides */
    padding: 0.25rem 0.75rem;
    max-width: 100%;
}

.THIS .quickLinksContainer.active {
    margin: 0 auto;
    width: 1200px;
}

/* top-most of the page, in the .pageHeaderToolbar */

.THIS .pageHeaderLinks .slds-tile+.slds-tile {
    margin-top: 0;
}

.THIS .quickLinkToggle,
.THIS .pageHeaderLinks a {
    padding: 0.5rem 0.75rem;
}

.THIS .pageHeaderLinks a:hover,
.THIS .slds-context-bar__icon-action:hover {
    background-color: white;
}

/******************
 * Page Header Links
 ******************/

.THIS .pageHeaderLinksContainer {
    flex: 1;
    overflow-x: scroll;
    white-space: nowrap;
    margin-right: 1rem;
}

.THIS .pageHeaderLinks .slds-icon {
    height: 24px;
    width: 24px;
}

.THIS .pageHeaderLinks a.link-item-link {
    /*display: inline-flex;*/
    display: inline-block;
    align-items: center;
}

.THIS .pageHeaderLinks a.link-item-link h3 {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    display: inline;
}

.THIS .pageHeaderLinks a.link-item-link .slds-media__figure,
.THIS .pageHeaderLinks a.link-item-link .slds-media__body {
    display: inline;
}


@media only screen and (min-width: 48em) {
    .THIS .selfServiceProfileMenuTrigger {
        top: 0;
    }
    .THIS .selfServiceProfileMenu .login {
        top: -20px;
    }
}

@media only screen and (max-width: 1024px) {
    .THIS .selfServiceProfileMenuTrigger a.trigger-link {
        width: 100%;
    }

    .THIS .pageHeaderLinksContainer {
        padding-left: 0;
    }

    .THIS .pageHeaderLinks a {
        padding-right: 0.5rem;
    }

    .THIS .slds-context-bar__icon-action h3,
    .THIS .pageHeaderToolbar .pageHeaderLinksContainer h3.slds-text-heading--medium {
        display: none;
    }

    .THIS .pageHeaderLinksContainer .slds-media__figure {
        margin-right: 0;
    }

    .THIS [data-region-name="profileMenu"] {
        min-width: 75px; /* 36px icon plus some padding */
    }
}

@media only screen and (max-width: 48rem) {
    .THIS .selfServiceProfileMenu .uiMenuList.visible {
        margin-top: 2.4rem;
    }
    .THIS .selfServiceProfileMenu .login {
        top: -10px;
    }
    .THIS .pageHeaderLogo {
        display: block;
        margin: 0 auto;
        height: auto;
        max-width: 50%;
        position: relative;
        top: 5px;
        left: 0;
    }

    .THIS #pageHeaderSearch .ui-widget {
        position: static;
        height: auto;
    }

    .THIS form.search-wrapper {
        position: relative;
        right: 0;
        top: 70px;
    }

    .THIS .selfServiceSearchWrapper .search-wrapper {
        padding: 0 40px;
    }

    .THIS .forceCommunityOmniBox.focused .search-wrapper {
        padding: 7px;
    }

    .THIS .forceCommunityOmniBox.selfServiceSearchWrapper .search-input-group,
    .THIS .forceCommunityOmniBox.selfServiceSearchWrapper .search-button.uiButton,
    .THIS .forceCommunityOmniBox.selfServiceSearchWrapper .search-field,
    .THIS .forceCommunityOmniBox.focused .close-button.uiButton {
        height: 40px;
    }

    .THIS .forceCommunityOmniBox.selfServiceSearchWrapper .search-field {
        padding-right: 40px;
    }

    .THIS .pageHeaderMenu .show-menu {
        display: block;
    }

    .THIS .pageHeaderMenu nav,
    .THIS .pageHeaderMenu .slds-context-bar:not(.mobileMenuOpen) nav{
        display: none;  /* LC-104 - necessary to left-align menu in IE 11 - Added selector: .THIS .pageHeaderMenu .slds-context-bar:not(.mobileMenuOpen) nav*/
    }
}