.THIS {
    position: relative;
    min-height: 14rem;  /* for slds-spinner placement */
}

.THIS .hidden {
    display: none;
    visibility: hidden;
}


/* common.css provides other style rules for .componentHeading */
.THIS .componentHeading {
    color: token(theColorTextLink);
    border-color: token(theColorTextLink);
}

.THIS .loadMoreButton > span {
    padding-left: 0;
}


/***********************************************************************************************************************
 *      div.news-item-summary-basic formatting ("ArticleSummary_SLDSMedia")
 */

.THIS .news-item-summary-basic > a:hover {
    background-color: token(colorBackgroundButtonDefaultHover);
}

.THIS .news-item-summary-basic .slds-text-heading--medium {
    color: token(colorTextLink);
}

.THIS .news-item-summary-basic .new-item-badge {
    background-color: token(colorBackgroundHighlight);
}


/***********************************************************************************************************************
 *      div.news-item-summary-bigText formatting
 *      • NOT recommended for two-column use
 */

.THIS .news-item-summary-bigText h3 {
    color: token(colorTextLink);
}


/***********************************************************************************************************************
 *      div.news-item-summary-textOnHover formatting
 *      • NOT recommended for two-column use
 */

.THIS .news-item-summary-textOnHover:hover > a {
    background-color: token(colorBackgroundButtonDefaultHover);
}

.THIS .news-item-summary-textOnHover h3 {
    color: token(colorTextLink);
}

.THIS .news-item-summary-textOnHover:hover .SummaryContent p {
    background-color: token(colorBackgroundButtonDefaultHover);
}

/***********************************************************************************************************************
 *      common “new item” style rules
 */

.THIS .tagPathBadge:hover {
    background-color: token(colorBackgroundHighlight);
}

.THIS .news-item-summary.new-item .new-item-badge {
    background-color: token(colorBackgroundHighlight);
}

.THIS .news-item-summary.new-item {
    animation: 3s ease 2s 3 normal wipeBackground;
}

@keyframes wipeBackground {
    0% {
        background: token('linear-gradient(45deg, white -40%, ' + colorBackgroundShade + ' 10%, white 60%)');
    }
    5% {
        background: token('linear-gradient(45deg, white  -40%, ' + colorBackgroundShade + ' 10%, white 60%)');
    }
    10% {
        background: token('linear-gradient(45deg, white  -30%, ' + colorBackgroundShade + ' 20%, white 70%)');
    }
    15% {
        background: token('linear-gradient(45deg, white  -20%, ' + colorBackgroundShade + ' 30%, white 80%)');
    }
    20% {
        background: token('linear-gradient(45deg, white   10%, ' + colorBackgroundShade + ' 40%, white 90%)');
    }
    25% {
        background: token('linear-gradient(45deg, white  20%, ' + colorBackgroundShade + ' 50%, white 100%)');
    }
    30% {
        background: token('linear-gradient(45deg, white  30%, ' + colorBackgroundShade + ' 60%, white 110%)');
    }
    35% {
        background: token('linear-gradient(45deg, white  40%, ' + colorBackgroundShade + ' 70%, white 120%)');
    }
    40% {
        background: token('linear-gradient(45deg, white  50%, ' + colorBackgroundShade + ' 80%, white 130%)');
    }
    45% {
        background: token('linear-gradient(45deg, white  60%, ' + colorBackgroundShade + ' 90%, white 140%)');
    }
    50% {
        background: token('linear-gradient(45deg, white  70%, ' + colorBackgroundShade + ' 100%, white 150%)');
    }
    55% {
        background: token('linear-gradient(45deg, white  80%, ' + colorBackgroundShade + ' 110%, white 160%)');
    }
    60% {
        background: token('linear-gradient(45deg, white  90%, ' + colorBackgroundShade + ' 120%, white 170%)');
    }
    65% {
        background: token('linear-gradient(45deg, white  100%, ' + colorBackgroundShade + ' 130%, white 180%)');
    }
    70% {
        background: token('linear-gradient(45deg, white  100%, ' + colorBackgroundShade + ' 140%, white 190%)');
    }
}


/* Policy Summary */

.THIS .policySummary .slds-box {
    height: 100%;
}

.THIS .policySummary a:hover {
    text-decoration: none;
    color: token(colorTextBrand);
}

/* Policy Detail */

.THIS .policyDetail .logo_c,
.THIS .policyDetail .logo_c > img {
    max-height: 60px;
}