.THIS {
 
}

@font-face {
  font-family: 'WhitneyBook';
  font-style: normal;
  font-weight: 400;
  src: url('/resource/login_assets/login/fonts/whitney-book-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'WhitneySemiBold';
  font-style: normal;
  font-weight: 400;
  src: url('/resource/login_assets/login/fonts/whitney-semibold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'WhitneyLight';
  font-style: normal;
  font-weight: 400;
  src: url('/resource/login_assets/login/fonts/whitney-light-webfont.woff2') format('woff2');
}