.THIS {
    border-top: 3px solid token(colorBorderBrand);
}

.THIS nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.THIS nav{
    padding: 2em 0 0 1em;
} 

.THIS .slds-context-bar__icon-action {
    padding: 0 2em 1em 0;
    justify-content: flex-end;
}

.THIS {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.THIS .logo {
    max-height: 60px;
    margin: 0.5rem 0;
}