//May break into separate files sometime down the road
//if this file starts to get big enough

//Small
@media (min-width: $ig-small) {
    .THIS {
    
    }
}

//Medium
@media (min-width: $ig-medium) { 
    .THIS {
    
    }
}

//Large
@media (min-width: $ig-large) {
    .THIS {
        h1 {
            font-size: $ig-h1;
        }
        
        h2 {
            font-size: $ig-h2;
        }
        
        h3 {
            font-size: $ig-h3;
        }
        
        h4 {
            font-size: $ig-h4;
        }
        
        p {
            font-size: $ig-p;
        }
    }
}