.THIS {
    
    h1 {
        font-family: token(whitneyLight);
        font-size: $ig-m-h1;
    }
    
    h2 {
        font-family: token(whitneyLight);
        font-size: $ig-m-h2;
    }
    
    h3 {
        font-family: token(whitneyBook);
        font-size: $ig-m-h3;
    }
    
    h4 {
        font-family: token(whitneyBook);
        font-size: $ig-m-h4;
    }
    
    h1, h2, h3, h4 {
        color: $ig-dark-blue;
        line-height: token(lineHeightText);
    }
    
    p {
        font-family: token(whitneyBook);
        font-size: $ig-m-p;
    }

    a {
      text-decoration: none;
    }

    label {
        border: none;
    }
}