//Colours
//Brand
$ig-blue: #024370;
$ig-dark-blue: #0d263c;
$ig-green: #0ed59a;
$ig-teal: #7ec4b9;
$ig-light-teal: #f1f7f7;
$ig-beige: #faf7e6;

//CP
$ig-light-blue: #b4defa;
$ig-azure-blue: #1674d2;
$ig-dark-green: #008a2a;
$ig-gold: #dedc4d;
$ig-red: #ea051c;
$ig-dark-grey: #cfd4d8;
$ig-grey: #e6e9eb;
$ig-light-grey: #f7f8f9;
$ig-white: #fff;


//Breakpoints
$ig-x-small: 375px;
$ig-small: 480px;
$ig-medium: 768px;
$ig-large: 1024px;
$ig-x-large: 1280px;

//Sizing - Margin/Padding/Icon Size etc.
$ig-sizes: (
    xx-large token(spaceXxLarge),
    x-large token(spaceXLarge),
    large token(spaceLarge),
    medium token(spaceMedium),
    small token(spaceSmall),
    x-small token(spaceXSmall),
    xx-small token(spaceXxSmall),
    xxx-small token(spaceXxxSmall)
);

//Typography
$ig-h1: 36px;
$ig-h2: 28px;
$ig-h3: 20px;
$ig-h4: 16px;

$ig-p: 16px;
$ig-p-small: 12px;

$ig-label: 16px;
$ig-label-small: 12px;

$ig-m-h1: 28px;
$ig-m-h2: 24px;
$ig-m-h3: 20px;
$ig-m-h4: 16px;

$ig-m-p: 18px;
$ig-m-p-small: 12px;

$ig-m-label: 16px;
$ig-m-label-small: 12px;