.THIS,
.THIS .subscriptionEditorInner {
    position: relative;     /* for benefit of slds-spinner */
    min-height: 10rem;      /* for benefit of slds-spinner */
    max-width: none;
}

.THIS.loaded,
.THIS.loaded .subscriptionEditorInner {
    min-height: 0;
}

.THIS .hidden {
    display: none;
}

/* common.css provides other style rules for .componentHeading */
.THIS .componentHeading {
    color: token(theColorTextLink);
    border-color: token(theColorTextLink);
}

.THIS li.slds-is-active > div {
    background-color: token(colorBackgroundButtonDefaultHover);
}

.THIS .slds-tree__item {
    position: relative;
}

.THIS .slds-tree__item > button:hover {
    background-color: token(colorBackgroundButtonDefaultHover);
}

/* the :focus styling removes the visual artifacts of having clicked on a expandy/collapsy or the category name */

.THIS .slds-tree__item > button:focus {
    box-shadow: none;
}

.THIS .slds-tree__item:hover,
.THIS .slds-tree__item > a.slds-navigation-list--vertical__action:focus {
    background: none;
}

.THIS .slds-tree__item > a.slds-navigation-list--vertical__action:hover, 
.THIS li.slds-is-active .slds-tree__item:hover {
    background-color: token(colorBackgroundButtonDefaultHover);
}

.THIS li.slds-is-active .slds-navigation-list--vertical__action:hover {
    background: none;
}

.THIS .slds-navigation-list--vertical__action {
    padding: 0.25rem;   /* tighten up from default 0.5rem 1.5rem */
    width: 100%; /* make link full width so the click target isn't tiny */
}

.THIS .slds-navigation-list--vertical__action.level-1 {
    font-weight: bold;
}

.THIS .slds-tree__item figure {
    position: absolute;
    right: 3px;
    margin-top: 3px;
    pointer-events: none; /* allow clickthrough */
}

.THIS .slds-icon_container--circle {
    line-height: 0; /* override slds-tree__item's line-height of 1.875em. 0 seems to make a perfect circle, whereas 1 makes it too tall */
}

.THIS .subscriptionButtons {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
}

.THIS .tagPathBadge {
    display: inline-block;
    cursor: pointer;
}

.THIS .tagPathBadge:hover {
    color: white;
    background-color: token(colorBackgroundHighlight);
}

.THIS .subscriptionSection {
    margin-bottom: .5rem;
}

.THIS .slds-tree + .flexContainer {
    margin-top: 1rem;
}
.THIS .intro {
    display: flex;
    margin-bottom: .5rem;
}

.THIS .intro figure {
    margin-right: .75rem;
}

.THIS .intro figure,
.THIS .intro p {
    align-self: flex-start;
}