/* .ltngTaxonomyMenu is a superfluous class, and was omitted here, but is useful when developing */

.THIS {
    background-color: #f4f4f4;
    font-size: 0; /* get rid of extra px thanks to inline-block */
}

.THIS .slds-context-bar__icon-action > a {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;            /* to match LinkItems */
    font-weight: 600;
}

.THIS .slds-context-bar__icon-action > a svg {
    margin-right: 0.75rem;
}

.THIS.quickLinksEnabled {
    height: 100vh;
}

.THIS a.quickLinksText {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.THIS .hidden {
    display: none !important;
    visibility: hidden !important;
}


.THIS.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
    min-height: 100vh;
    max-height: 100vh;
}

.THIS .slds-context-bar__item {
    float: left;
}

.THIS .tab-head .tab-head-item,
.THIS .tab-head + .tab-contents {
    display: none;
}


/* hide redundant “Favorites” title
    - should remove markup from ec_QuickLinksController.cls if no other contexts or not needed there
 */
.THIS a.tab-head-item.active {
    display: none;
}

.THIS .tab-head.active + .tab-contents {
    display: block;
}

.THIS .tab-head {
    /* overflow: scroll; */
    /*padding-right: 10px;*/
    margin: 0;
    /*margin-bottom: 4px;*/
    /*background-color: white;*/
    /*box-shadow: 0 5px 5px -5px rgba(0,0,0,0.2);*/
    overflow: hidden;
}

.THIS .tab-head .slds-icon-waffle_container.slds-context-bar__item {
    /*padding: 15px 15px 17px 20px;*/
}

.THIS .tab-head > a {
    display: inline-block;
    margin: 15px 15px 0 20px;
    padding: 8px 0;
    font-size: 1.4em;
    color: #454545;
    letter-spacing: -0.5px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
}

.THIS .tab-head .slds-icon-waffle_container.slds-context-bar__button {
    margin-top: 4px;
}

.THIS .tab-head a:hover h3 {
    color: #454545;
    border-bottom-color: #454545;
}

.THIS .tab-head a.active {
    color: black;
    border-bottom-color: #000;
}

.THIS .tab-contents {
    background-color: #f4f4f4;
}

.THIS .tab-content-item {
	display: none;
}

.THIS .tab-content-item.active {
    display: block;
}

.THIS h2 {
    margin: 0 0 0.3em 1.25rem;
    padding-top: 1.25rem;
    font-weight: 600;
    color: token(colorTextLabel);
    font-size: 1.4rem;      /* downsized slightly from slds-text-heading--medium */
}

.THIS .slds-context-bar__app-name {
    padding-top: 0.5rem;
}

.THIS .slds-context-bar__item {
    float: none;
}


/* the menu items */

.THIS ul {
    margin-left: 1.2rem;
    display: flex;
    flex-wrap: wrap;
}

.THIS li {
    margin-right: 2rem;
    margin-bottom: 0.625rem;
    font-size: 1.15rem;
    width: 19em;
}

.THIS li .slds-media__figure {
    margin-top: 0.3rem;
    margin-right: 0.55rem;
}

.THIS #Favorites .slds-media__body {
    margin-top: 0.4rem;         /* try to align text with middle of icon */
}

.THIS #Favorites .slds-media__body h3 {
    font-size: 1.2rem;
}

/* override the size rule present for h3.slds-text-heading--medium (requires sufficient specificity) */
.THIS ul > li > div.link-item h3 {
    font-size: inherit;
    padding-top: 0.5rem;
    border-bottom: 2px solid transparent;
}

.THIS ul > li > div.link-item h3 a:hover {
    border-bottom-color: token(colorBorderBrand);
    text-decoration: none;
}

.THIS li a {
    color: token(colorTextLink);
    border-bottom: 2px solid transparent;
    line-height: 1.5;
    padding-bottom: 0.25rem;
}

.THIS li:hover a {
    color: token(theColorTextBrand);
    text-decoration: none;
}


/* compress 4-across */
@media (max-width: 1880px) {
    .THIS li {
        font-size: 1.05rem;
    }
}

/* 3-across */
@media (max-width: 1730px) {
    .THIS li {
        font-size: 1.15rem;
    }
}

/* 3-across, compressed */
@media (max-width: 1425px) {
    .THIS li {
        font-size: 1.05rem;
    }
}

/* 2-across */
@media (max-width: 1310px) {
    .THIS li {
        font-size: 1.15rem;
        width: 28em;
    }
}

/* 2-across, compressed */
@media (max-width: 1110px) {
    .THIS li {
        font-size: 1.05rem;
        width: 24em;
    }
}

/* 1-across */
@media (max-width: 975px) {
    .THIS li {
        font-size: 1.15rem;
        width: 30em;
    }
}

@media (max-width: 600px) {
    .THIS li {
        font-size: 1rem;
    }
}